name: Update Music Widget
on:
  schedule:
    - cron: "0 */3 * * *" # Runs every 3 hours
  workflow_dispatch:

jobs:
  update-music:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install Dependencies
        run: |
          cd music
          pip install -r requirements.txt

      - name: Generate Image
        env:
          YT_HEADERS_AUTH: ${{ secrets.YT_HEADERS_AUTH }}
        run: |
          cd music
          python main.py

      - name: Commit and Push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add music/*.svg
          git commit -m "Update Music Widget" || exit 0
          git push
